

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/css/ranking.css">
<title>Page Title</title>
</head>
<body>
<hgroup id="hTitle">

	<h1>TOP 3 NAVY BREAK PLAYERS</h1>
		<h2>score is based on games won</h2>
 
</hgroup>
 	<table>
 		<tr>
 			<td>1°</td>
 			<td>name</td>
 			<td>score</td>
 			<td><button onclick="funcion de retar" >challenge</button></td>
 			
 		</tr>
 		<tr>
 			<td>2°</td>
 			<td>name</td>
 			<td>score</td>
 			<td><button onclick="funcion de retar" >challenge</button></td>
 			
 		</tr>
 		<tr>
 			<td>3°</td>
 			<td>name</td>
 			<td>score</td>
 			<td><button onclick="funcion de retar" >challenge</button></td>
 			
 		</tr>


 	</table>
 		
 		<img align="middle" src="../resources/images/bird.gif"/></body></br>
 		<button onclick=regresar >pag prncipal</button>

 	<script type="text/javascript">
 		



 	</script>
</body>
</html>


