

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/css/ranking.css">
<script type="text/javascript" src="../programs/javascript/jquery-3.2.1.js"></script>
<title>Page Title</title>
</head>
<body>
<hgroup id="hTitle">


	<h1>TOP NAVY BREAK PLAYERS</h1>

		<h2>score is based on won games</h2>
 
</hgroup>
 	<table>

 	</table>
 		
 		<img align="middle" src="../resources/images/bird.gif"/></body></br>
 		<button onclick=regresar >pag prncipal</button>

 	<script type="text/javascript">

 		var elemRank = $('<tr></tr>');

 		var nombre = $("<td class='name'></td>");
 		var score = $("<td class='score'></td>");
 		nombre.appendTo(elemRank);
 		score.appendTo(elemRank);
 		var cloni = [];

		$.ajax({
			url:"../programs/php/rank.php",
			method:"POST",
			success: function(result){
				var regla=result.split(" ");
				for(x=0;x<=50;x+=2)
				{
					cloni[x-1]=elemRank.clone();
					cloni[x-1].children(".name").append(regla[x]);
					cloni[x-1].children(".score").append(regla[x+1]);
					cloni[x-1].appendTo($('table:eq(0)'));
				}
			}
		});
		

 	</script>
</body>
</html>


